{% extends "base.html" %}
{% block title %}Главная{% endblock title %}

{% block content %}
<div class="col-lg-8">
  <h3>Выбери товар для доставки</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Измерение</th>
        <th scope="col">Количество</th>
        <th scope="col">Цена</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       {% for item in items %}
        <td>{{item.title}}</td>
        <td>{{item.meas}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.price}} руб.</td>
        <td><button  type="submit"  class="btn  btn-success btn-block">Добавить в корзину</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
</div>
{% endblock content %}