{% extends "base.html" %}
{% block title %}Главная{% endblock title %}
{% load static %}

{% block content %}
    {% if not offers %}
        <h5 class="text-lg-center text-dark pt-5">Список продукции пока пуст, возращайтесь позже</h5>
    {% endif %}
    <div class="row row-col-1 row-cols-md-3 g-4">
        {% for offer in offers %}
            <div class="col">
                <div class="card">
                    <div class="card-image-cover"><img src="{{ offer.img.url }}"
                                                       alt=""></div>
                    <div class="card-body">
                        <div class="card-title">{{ offer.title }}</div>
                        <div class="card-text">{{ offer.desc }}</div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div class="w-25">
                                <input type="number" class="form-control" value="1">
                            </div>
                            <div>
                                <button class="btn btn-primary"><i class="bi bi-cart4"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}