{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock title %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Профиль {{ profile.user.email }}</h5>
                        <a href="{% url 'account_logout' %}" class="btn btn-primary">Выйти</a>
                    </div>
                </div>
                <ul class="list-group mt-3 mb-3">
{#                    <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>#}
                    <li class="list-group-item">Мои заказы</li>
                    <li class="list-group-item">Мои адреса</li>
                    <li class="list-group-item">Настройки</li>
                    <li class="list-group-item">Выход</li>
                </ul>
            </div>
            <div class="col-md-8 ms-auto">
                <h2 class="text-center">Заказы</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Количество позиций</th>
                        <th scope="col">Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>ул. Пушкина д.4</td>
                        <td>3</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>ул. Ленина д.6</td>
                        <td>6</td>
                        <td>300</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}