{% extends "base.html" %}

{% load i18n %}

{% block title %}Потверждение почтового адреса{% endblock %}
{% block header %}{% include 'cardex_header_profile.html' %}{% endblock %}
{% block content %}
<section class="authorization">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content">
          <h3>Потверждение почтового адреса</h3>
          <form  method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
          {% csrf_token %}
            <p>{% blocktrans with email=confirmation.email_address.email %}<b>{{ email }}</b>?{% endblocktrans %}</p><br>
            <center><button type="submit" class="btn btn-primary">Потвердить</button></center>
            {% if form.non_field_errors %}
                            <div class="form-group error-message">
                                <div class="alert alert-danger" role="alert">
                                    <ul class="list-unstyled">
                                        {% for error in form.non_field_errors %}
                                            <li class="text-danger text-center">
                                                <i class="fa fa-exclamation-circle"></i>&nbsp;<strong>{{ error|escape }}</strong>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
              {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block footer %}{% include 'cardex_footer.html' %}{% endblock %}