{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Авторизация
{% endblock %}
{% block additional_styles %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <main class="form-signin">
        <form method="post" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %}
              enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            <h1 class="text-center">Авторизация</h1>
            <div class="mb-3">
                <div class="form-floating">
                    {{ form.email | add_class:'form-control' |attr:"placeholder:Пользователь"}}
                    {{ form.email.label_tag }}
                </div>

            </div>

            <div class="mb-3">
                <div class="form-floating">
                    {#      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">#}
                    {{ form.password | add_class:'form-control' |attr:"placeholder:Пароль"}}
                    {{ form.password.label_tag }}
                </div>
            </div>
            <div class="mb-3 form-check">
                <input value="remember-me" type="checkbox" class="form-check-input" id="rememberme">
                <label class="form-check-label" for="rememberme">Запомнить меня</label>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <div class="mb-3">
                <button class="w-100 btn btn-lg btn-primary" type="submit" value="login">Войти</button>
            </div>
            <div><a href="{% url 'account_signup' %}"
                    class="w-100 px-10 btn btn-lg btn-primary">Зарегистрироваться</a></div>
            {#    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>#}
            </div>
        </form>
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}

        {#{% if next %}#}
        {#    {% if user.is_authenticated %}#}
        {#    <p>Ошибка доступа.</p>#}
        {#    {% else %}#}
        {#    <p>Please login to see this page.</p>#}
        {#    {% endif %}#}
        {#{% endif %}#}

    </main>

    {# Assumes you setup the password_reset view in your URLconf #}
    {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}



