{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Выход
{% endblock %}
{% block additional_styles %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
 <div class="container">
        <div class="row">
   <div class="col-md-5">
            <form method="POST" action="{% url "account_logout" %}">
                <h2>Выход</h2>
                <fieldset>
                    {% csrf_token %}
                    <p>Вы действительно хотите выйти?</p>
                    <button type="submit" class="btn btn-danger">Да</button>
                    <a href="{% url 'profile' %}" class="btn btn-primary">Нет</a>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}