{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Сбросить пароль - Cardex{% endblock %}
{% block header %}{% include 'cardex_header_profile.html' %}{% endblock %}

{% block content %}
<section class="authorization">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content">
          <h3>Сброс пароля</h3>
          <p>Мы отправили вам письмо с детальной инструкцией для смены пароля. Проверьте вашу электронную почту.</p>
          <br>
          <a href="{% url 'index' %}" >Вернуться на главную страницу</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footer %}{% include 'cardex_footer.html' %}{% endblock %}