{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Авторизация
{% endblock %}
{% block additional_styles %}
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <main class="form-signin">
        <div class="text-center">
            <form method="POST">
                <h1 class="text-center">Регистрация</h1>
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="mb-3">
                        <div class="form-floating">
                            {% render_field field class+="form-control" %}
                            <label>{{ field.label_tag }}</label>
                        </div>
                    </div>
                          {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                <input type="submit" class="btn btn-lg btn-primary" value="Зарегистрироваться">

            </form>
        </div>


        {#{% if next %}#}
        {#    {% if user.is_authenticated %}#}
        {#    <p>Ошибка доступа.</p>#}
        {#    {% else %}#}
        {#    <p>Please login to see this page.</p>#}
        {#    {% endif %}#}
        {#{% endif %}#}
    </main>


    {# Assumes you setup the password_reset view in your URLconf #}
    {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}



